<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584995424261-jtu9jpq88t2c5440c78123ah5g3d9ml2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584995424261-jtu9jpq88t2c5440c78123ah5g3d9ml2</string>
	<key>API_KEY</key>
	<string>AIzaSyBsXEL7gr6IPlVwevAzoThDaaHC3Eul5v8</string>
	<key>GCM_SENDER_ID</key>
	<string>584995424261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vanquil.SamMe</string>
	<key>PROJECT_ID</key>
	<string>samme-8dbf1</string>
	<key>STORAGE_BUCKET</key>
	<string>samme-8dbf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:584995424261:ios:9dbe43a8e92b22fceab46c</string>
	<key>DATABASE_URL</key>
	<string>https://samme-8dbf1.firebaseio.com</string>
</dict>
</plist>
